.car_wrap {
    width: 200px;

    margin-top: 10px;

    padding: 5px;

    display: flex;
    flex-direction: column;

    border: 1px solid black;



}

.car_wrap button {
    height: fit-content;
    width: fit-content;

    align-self: center;
}