.header {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;

    background: powderblue;
}

.header a {
    font-size: 30px;
    text-decoration: none;
}

.header a[class = 'active'] {
    color: yellow;
    border: 1px solid yellow;
}
