.header_wrapper {
    height: 150px;

    background: black;

    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.header_wrapper > a {
    text-decoration: none;
    color: white;
    font-size: 28px;
}